<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Восстановление учетной записи</title>
</head>
<body>
    <div class="auth-container">
        <h1>Восстановление пароля</h1>
        <div class="form_desc">Введите email и новый пароль, чтобы восстановить доступ к аккаунту</div>
        <form class="auth-form" action="/lost_pass" method="post">
            <label for="email">Email</label>
            <input type="email" id="newEmail" name="login" placeholder="Введите ваш email" required>
    
            <label for="password">Новый пароль</label>
            <input type="password" id="newPass" name="pass" placeholder="Введите новый пароль" required>
    
            <label for="password">Повторите новый пароль</label>
            <input type="password" id="newPassCopy" name="pass_confirm" placeholder="Введите новый пароль" required>
            <div class="messages">
                <% if (error === 'empty') { %>
                    <p class="error">Заполните все поля.</p>
                <% } else if (error === 'mismatch') { %>
                    <p class="error">Пароли не совпадают.</p>
                <% } else if (error === 'notfound') { %>
                    <p class="error">Пользователь с таким e-mail не найден.</p>
                <% } else if (success) { %>
                    <p class="success" style="color: #6fa043">Пароль успешно обновлён!</p>
                <% } %>
            </div>
            <button type="submit" class="auth-button">Восстановить пароль</button>
        </form>
        <div class="links-container">
            <a href="/">Войти</a>
            <a href="/reg">Регистрация</a>
        </div>
    </div>
</html>
