<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Профиль</title>
</head>
<body>
    <div class="board-container" style="background-color:var(--color-pale);">
        <main class="main-panel">
            <h1 style="color:var(--color-accent); padding: 1.2rem;">Профиль пользователя</h1>
            <a href="/leave" class="add-icon">Выйти</a><br>
            <form action="/delete_account" method="post">
                <button type="submit" class="add-icon" onclick="return confirm('Вы действительно желаете удалить учетную запись?')">Удалить учетную запись</button>
            </form><br>
            <a href="/change_pass" class="add-icon">Сменить пароль</a> 
        </main>
        
    
        <nav class="bottom-nav">
            <ul class="nav-list">
                <li class="nav-item"><a href="/board">Тренировки</a></li>
                <li class="nav-item"><a href="/map">Карта</a></li>
                <li class="nav-item"><a href="/profile">Профиль</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>

